body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #4a4a4a;
}

/* app container */
.app-container {
    text-align: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    max-width: 90%;
}

/* heading */
h1 {
    font-size: 1.8rem;
    color: #5476ff;
    margin-bottom: 15px;
}

/* input */
input {
    padding: 12px;
    width: calc(100% - 30px);
    border: 2px solid #d1d5db;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 1rem;
    background-color: #eaf0f8;
    color: #4a4a4a;
    outline: none;
    transition: border-color 0.3s ease;;
}

input:focus {
    border-color: #89c2ff;
}

/* button */
button {
    padding: 12px 20px;
    margin-top: 20px;
    background: #ffc1e3;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: #ffa6d1;
    transform: translateY(-2px);
}

button:active {
    background: #ff8cba;
    transform: translateY(0);
}